button,
input {
  background-color: blueviolet;
  width: 6rem;
  height: 2rem;
}
body {
  text-align: center;
  background-color: aquamarine;
}
form {
  padding: auto;
}
div {
  text-align: center;
} 
